.scrollbar::-webkit-scrollbar {
    height: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 20px;
    margin-top: 20px;
}

.scrollbar::-webkit-scrollbar-track {
    background: yellow;
}



.skrol::-webkit-scrollbar {
    height: 10px;
}

.skrol::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 20px;
    margin-top: 20px;
}

.skrol::-webkit-scrollbar-track {
    border-radius: 20px;
}

html,
body {
    overflow: none;
    scrollbar-width: thin;
}

body::-webkit-scrollbar-thumb {
    border-radius: 40px;
}









.catigorya{
    transition: all 2s;
}